.title {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}
.small-title {
    font-size: 2em;
    font-weight: 200;
    text-align: center;
}
.fixed-size {
    height: 10px;
    width: 320px;
}
